<div class="menu notify-menu">
  <div class="header">Alerts</div>
  <div class="divider"></div>
  <div class="ui middle aligned animated relaxed divided list">
    <a class="item">
      <i class="warning sign orange icon"></i>
      <div class="content">
        <div class="description">
          Anomalous activity detected on 130.226.136.242.
          It triggered <a href="">#ruleid</a> flowspec rule.
        </div>
      </div>
    </a>
    <a class="item">
      <i class="warning sign orange icon"></i>
      <div class="content">
        <div class="description">
          Anomalous activity detected on 130.225.136.240.
          It triggered <a href="">#ruleid</a> flowspec rule.
        </div>
      </div>
    </a>
    <a class="item">
      <i class="info circle blue icon"></i>
      <div class="content">
        <div class="description">
          Database server was down for 300 s.
          It triggered a switch to backup server.
        </div>
      </div>
    </a>
    <a class="item">
      <i class="info circle blue icon"></i>
      <div class="content">
        <div class="description">
          Influx db server was down for 500 ms.
        </div>
      </div>
    </a>
  </div>
</div>