<div class="ui segment">
  <div class="dash-widget">

    <div class="ui tiny horizontal list">
      <div class="item">

        <div class="right floated content">
          <div class="ui tiny horizontal list">
            <div class="item">
              {{ui-checkbox
                  class="toggle"
                  label=checkLabel
                  checked=preChecked
                  onChange=(action (mut preChecked))
              }}
            </div>
            <div class="item">
              {{ui-radio
                  name=rdioGrpName
                  label="10s"
                  value=10
                  disabled=(if preChecked false true)
                  current=baseRate
                  onChange=(action (mut baseRate))
              }}
            </div>
            <div class="item">
              {{ui-radio
                  name=rdioGrpName
                  label="30s"
                  value=30
                  disabled=(if preChecked false true)
                  current=baseRate
                  onChange=(action (mut baseRate))
              }}
            </div>
            <div class="item">
              {{ui-radio
                  name=rdioGrpName
                  label="1m"
                  value=60
                  disabled=(if preChecked false true)
                  current=baseRate
                  onChange=(action (mut baseRate))
              }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="ui header medium title"></div>
        </div>
      </div>
    </div>

    <svg></svg>
  </div>
</div>