<div class="ui segment">
  <div class="dash-widget">
    <div class="header">
      <div class="title">
        <p></p>
      </div>
      {{!-- <div class="controls ui form tiny">

      </div> --}}
    </div>
    <svg></svg>
  </div>
</div>