<div class="ui segment">
  <div class="dash-widget">
    <div class="ui tiny horizontal list">
      <div class="item">

        <div class="right floated content">
          <div class="ui tiny horizontal list">
            <div class="item">
              {{ui-checkbox
                class="slider"
                label=checkLabel
                checked=pre_checked
                onChange=(action (mut pre_checked))
              }}
            </div>
            <div class="item">
              {{ui-radio name="baseRate" label="20s" value=20
                disabled=(if pre_checked true false)
                current=baseRate
                onChange=(action (mut baseRate))
              }}
            </div>
            <div class="item">
              {{ui-radio name="baseRate" label="40s" value=40
               disabled=(if pre_checked true false)
               current=baseRate
               onChange=(action (mut baseRate))
              }}
            </div>
            <div class="item">
              {{ui-radio name="baseRate" label="1m" value=60
               disabled=(if pre_checked true false)
               current=baseRate
               onChange=(action (mut baseRate))
              }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="ui header medium title"></div>
        </div>

      </div>
    </div>

    {{!-- <div class="header">
      <div class="title">
        <p></p>
      </div>
      <div class="controls ui form tiny">
        ax
      </div>
    </div> --}}
    <svg></svg>
  </div>
</div>