<div class="ui centered segment">
  {{!-- <div class="ui tiny statistic">
    <div class="value">
    </div>
    <div class="label">
    </div>
  </div> --}}
  <div class="progress-{{class}} circle">
  </div>
</div>