<div class="required twelve wide field">
  <label>ICMP Type</label>
    {{#ui-dropdown id="icmp-type" class="search selection" selected=icmptype onChange=(action (mut selected))}}
      <div class="default text">Select Type</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each mod.icmps as |icmp|}}
          <div class="item" data-value="{{icmp.name}}">
            {{icmp.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
</div>
<div class="required twelve wide field">
  <label>ICMP Code</label>
  {{#ui-dropdown id="icmp-code" class="search selection" selected=icmpcode onChange=(action (mut icmpcode)) as |execute mapper|}}
    <div class="default text">Select Code</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each mod.icmps as |icmp|}}
          <div class="item" data-value="{{icmp.code}}">
            {{icmp.code}}
          </div>
        {{/each}}
    </div>
  {{/ui-dropdown}}
</div>