<div class="aside__middle">
  <nav>
    <ul>
      {{#link-to 'dashboard'}}
      <li class="nav__dashboard"><i class="hand spock icon"></i><span>dashboard</span></li>{{/link-to}}
      {{#link-to 'archive'}}
      <li class="nav__archive"><i class="history icon"></i><span>archived rules</span></li>{{/link-to}}
      <li class="nav__plot"><i class="area chart icon"></i><span>total PPS in</span></li>
    </ul>
  </nav>
</div>