<div class="ui vertical fixed sticky blue inverted menu">
  <div class="item">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
  </div>
  {{#link-to "dashboard" class="item"}}
    <div class="content">
      <i class="icon hand spock"></i><span>dashboard</span>
    </div>
  {{/link-to}}
  {{#link-to "rules" class="item"}}
    <div class="content"><i class="icon database"></i><span>all rules</span></div>
  {{/link-to}}
  {{#link-to "packets" class="item"}}
    <div class="content"><i class="icon cube"></i><span>packets</span></div>
  {{/link-to}}
  {{#link-to "traffic" class="item"}}
    <div class="content"><i class="icon exchange"></i><span>traffic</span></div>
  {{/link-to}}
  {{#link-to "measurements" class="item"}}
    <div class="content"><i class="server icon"></i><span>measurements</span></div>
  {{/link-to}}

  <span class="item"></span>
</div>