<div class="ui left fixed vertical inverted menu huge green">
  <div class="item logo">
    <span><i class="icon fighter jet"></i></span>
  </div>
  {{#ui-popup content=kind variation="tiny" position="right center"}}
    <div class="item user">
      <div class="ui list">
        <div class="header">
          <div class="avatar">{{user-initials name}}</div>
          {{user-icon kind=kind class="mini"}}
        </div>
      </div>
    </div>
  {{/ui-popup}}
  {{#ui-popup content="Dashboard" variation="tiny" position="right center"}}
    {{#link-to "dashboard" class="item"}}
      <div class="content">
        <i class="icon bar chart"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Rules" variation="tiny" position="right center"}}
    {{#link-to "rules" class="item"}}
      <div class="content">
        <i class="icon database"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Packet stats" variation="tiny" position="right center"}}
    {{#link-to "packets" class="item"}}
      <div class="content">
        <i class="icon cube"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Traffic stats" variation="tiny" position="right center"}}
    {{#link-to "traffic" class="item"}}
      <div class="content">
        <i class="icon exchange"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Measurement stats" variation="tiny" position="right center"}}
    {{#link-to "measurements" class="item"}}
      <div class="content">
        <i class="server icon"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}

  {{#if (not-eq kind 'netadmin')}}
    {{#ui-popup content="Users" variation="tiny" position="right center"}}
      {{#link-to "users" class="item"}}
        <div class="content">
          <i class="address book icon"></i>
        </div>
      {{/link-to}}
    {{/ui-popup}}

    {{#ui-popup content="Customers" variation="tiny" position="right center"}}
      {{#link-to "customers" class="item"}}
        <div class="content">
          <i class="handshake icon"></i>
        </div>
      {{/link-to}}
    {{/ui-popup}}
  {{/if}}

  <span class="item"></span>

</div>
