<div class="aside__middle">
  <nav>
    <ul>
      {{#link-to "dashboard"}}
        <li class="nav__dashboard"><i class="hand spock icon"></i><span>dashboard</span></li>
      {{/link-to}}
      {{#link-to "rules"}}
        <li class="nav__archive"><i class="database icon"></i><span>all rules</span></li>
      {{/link-to}}
      {{#link-to "packets"}}
      <li class="nav__plot"><i class="pie chart icon"></i><span>packets</span></li>
      {{/link-to}}
      {{#link-to "bits"}}
      <li class="nav__plot"><i class="pie chart icon"></i><span>bits</span></li>
      {{/link-to}}
      {{#link-to "measurements"}}
      <li class="nav__plot"><i class="server icon"></i><span>measurements</span></li>
      {{/link-to}}
    </ul>
  </nav>
</div>