<div class="aside__middle">
  <nav>
    <ul>
      {{#link-to "dashboard"}}
        <li class="nav__dashboard"><i class="hand spock icon"></i><span>dashboard</span></li>
      {{/link-to}}
      {{#link-to "rules"}}
        <li class="nav__archive"><i class="database icon"></i><span>all rules</span></li>
      {{/link-to}}
      <li class="nav__plot"><i class="pie chart icon"></i><span>(in) pps</span></li>
      <li class="nav__plot"><i class="pie chart icon"></i><span>(in) bps</span></li>
      <li class="nav__plot"><i class="pie chart icon"></i><span>(in) flow</span></li>
    </ul>
  </nav>
</div>