<div class="ui left fixed vertical inverted menu huge blue">
  <div class="item logo">
    <span>Ps</span>
  </div>
  {{#ui-popup content=username variation="small inverted" position="right center"}}
    <div class="item user">
      <div class="ui list">

          <div class="header avatar">
            {{ember-initials/gravatar email='ashokaditya.design@gmail.com' size=30}}
          </div>
        <div class="item">
          <div class="content">
            {{user-icon kind=kind class="mini"}}
          </div>
        </div>
      </div>
    </div>
  {{/ui-popup}}
  {{#ui-popup content="Dashboard" variation="small inverted" position="right center"}}
    {{#link-to "dashboard" class="item"}}
      <div class="content">
        <i class="icon bar chart"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Rules" variation="small inverted" position="right center"}}
    {{#link-to "rules" class="item"}}
      <div class="content">
        <i class="icon database"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Packet stats" variation="small inverted" position="right center"}}
    {{#link-to "packets" class="item"}}
      <div class="content">
        <i class="icon cube"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Traffic stats" variation="small inverted" position="right center"}}
    {{#link-to "traffic" class="item"}}
      <div class="content">
        <i class="icon exchange"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}
  {{#ui-popup content="Measurement stats" variation="small inverted" position="right center"}}
    {{#link-to "measurements" class="item"}}
      <div class="content">
        <i class="server icon"></i>
      </div>
    {{/link-to}}
  {{/ui-popup}}

  <span class="item"></span>

</div>