<div class="required field">
  <label>Source Host or CIDR</label>
  {{input type="text" name="srcip" value=srcip placeholder="e.g. 192.0.2.1 or 192.0.2.0/24"}}
</div>

<div class="required field">
  <label>Source Port</label>
  {{input type="text" name="srcport" value=srcport placeholder="e.g 80"}}
</div>