{{udp-fields}}

<div class="required twelve wide field">
  <label>TCP Flags</label>
  {{#ui-dropdown id="tcp-flags" class="fluid search multiple selection" selected=tcp-flags onChange=(action (mut tcp-flags))}}
    <i class="dropdown icon"></i>
    <div class="default text">Flags</div>
    <div class="menu">
      {{#each mod.tcps as |tcp|}}
        <div class="item" data-value="{{tcp.flag}}">
          {{tcp.flag}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
</div>