<div class="ui tiny fixed menu">
  <div class="header item">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
  </div>
  {{!-- <div class="item"> --}}
  {{#link-to 'plan' class="blue item"}}
    <i class="calendar icon"></i>
  {{/link-to}}
  {{!-- </div> --}}
  <div class="item">
    <i class="alarm outline icon"></i>
  </div>
  {{#ui-dropdown class="item"}}
    <span class="ui label mini red circular"><i class="lightning icon"></i> </span>&nbsp;
    {{username}}
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Profile &amp; Themes</div>
      <a class="item"><i class="edit icon"></i>Settings</a>
      <a class="item"><i class="empty heart icon"></i>Themes</a>
      <a class="item"><i class="alarm outline icon"></i>Notifications</a>
      <div class="divider"></div>
      {{#if (eq usrtype 'super')}}
        <div class="header">Super Settings</div>
        <a class="item"><i class="users icon"></i>Edit Users</a>
        <a class="item"><i class="server icon"></i>Edit Networks</a>
        <a class="item"><i class="university icon"></i>Edit Customers</a>
        <div class="divider"></div>
      {{/if}}
      {{#link-to "login" class="item"}}
        <i class="sign out icon"></i>Sign Out
       {{/link-to}}
    </div>
  {{/ui-dropdown}}
</div>