{{!-- {{#if (lt inbps.size 1)}}
  <p>no results for the given time interval</p>
{{else}}
  {{#each inbps.data as |t|}}
    <p>{{t.cidr}}</p>
    <p>{{t.x}}</p>
    <p>{{t.y}}</p>
  {{/each}}
{{/if}} --}}

<div class="ui mini statistic">
  <div class="value">
    <svg class="dash-widget"></svg>
  </div>
  <div class="label">top 10 in. `bps`</div>
</div>
