<div class="ui top fixed medium menu">
  <div class="header item">
    <span class="title">{{routename}}</span>
  </div>

  <div class="right menu">
    <div class="item">
      {{#ui-search source=someList onSearchQuery=(action (mut query)) onSelect=(action (mut selected))}}
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      {{/ui-search}}
    </div>

    {{#link-to 'plan' class="item enhance"}}
      <i class="add blue icon"></i> Add Rule
    {{/link-to}}

    {{#ui-dropdown class="item"}}
      <i class="alarm outline icon"></i>
      <span class="ui circular blue label">4</span>
      {{alerts-menu}}
    {{/ui-dropdown}}

    {{#ui-dropdown class="item"}}
      <i class="icon setting"></i>
      <div class="menu">
        {{#if (eq kind 'globaladmin')}}
          <div class="header">Super Settings</div>
          <div class="divider"></div>
          {{#link-to "users" class="item"}}
            <i class="users outline icon"></i>Users
          {{/link-to}}
          {{#link-to "customers" class="item"}}
            <i class="hand peace icon"></i>Customers
          {{/link-to}}
          <div class="divider"></div>
        {{/if}}
        {{#link-to "login" class="item"}}
          <i class="sign out icon"></i>Sign Out
         {{/link-to}}
      </div>
    {{/ui-dropdown}}
  </div>

</div>