<div class="two fields">
  <div class="required twelve wide field">
    <label>Destination IP</label>
    {{input type="text" name="dest-ip" placeholder="e.g. 4200.1020.9080.8080"}}
  </div>
  <div class="required four wide field">
    <label>Prefix</label>
    {{input type="text" name="dest-prefix" placeholder="e.g 64"}}
  </div>
</div>

<div class="required twelve wide field">
  <label>Destination Port</label>
  {{input type="text" name="dest-port" placeholder="e.g 8080"}}
</div>