@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200:400|Kanit:700i');
@import url('http://tawian.io/text-spinners/spinners.css');

@blue: #0288D1;
@black: #37474F;

// font and padding sizes
@xs: 10/16em;
@sm: 12/16em;
@md: 14/16em;
@lg: 16/16em;
@xlg: 18/16em;
@xxlg: 20/16em;


@darker800: #37474F;
@grey500: #B0BEC5;
@light: #FFFFFF;
@light-bg: #FAFAFA;

* {
  font-weight: 200;
  font-weight: lighter;
}

body.pushable {
  background: #f4f4f4!important;
}

.editcard {
  position: absolute;
  height: 100%;
  right: -45%;
  padding: 20px;
  background: #fff;
  min-width: 45%;
  box-shadow: -1px 0px 2px 1px rgba(150,150,150,.1);
  z-index: 1;
  max-width: 100%;
  transition: .5s all ease-in;
   &.show {
     right: 0;
   }
}

.pushable {
  height: 100%;
  overflow-x: hidden;
  padding: 0!important;
  .pusher {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    min-height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    z-index: 2;
    .full.height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  .article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    padding: 40px 30px;
    .ui.top.fixed.menu {
      padding-left: 55px!important;
      .title {
        text-transform: capitalize;
      }
    }
    .ui.top.fixed.menu .user-menu {
      max-width: 200px;
      min-width: 200px;
      left: -145px;
    }

    .ui.top.fixed.menu .notify-menu {
      max-width: 300px;
      min-width: 300px;
      left: -208px;
      .list {
        margin: 0;
      }
      .item {
        padding: 20px;
      }
      .content {
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        white-space: -webkit-pre-wrap;
        white-space: normal;
      }
    }
  }
}

.full.height {
  > .toc {
    position: relative;
    z-index: 102;
    background-color: @blue;
    width: 55px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

aside {
  .vertical.menu {
    width: 55px!important;
    .item:first-child {
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
  }
  .content {
    text-transform: uppercase;
  }
  .logo {
    background: @black!important;
     span {
        font-family: 'Kanit'!important;
        font-weight: 700;
        font-style: italic;
        margin-left: -5.2px;
        font-size: 1.28em;
      }
  }
  .user {
    .avatar img {
      margin-left: -5px;
      border-radius: 50%;
      border: 2px solid;
    }
  }
}

.table th{
  text-transform: uppercase!important;
}

.rule {
  .header, .label {
    text-transform: uppercase;
  }
  .title {
    font-size: 2.3em!important;
    margin-top:0!important;
  }
  .network .item {
    text-align: center;
  }
}

[class*="progress-"]  {
  margin: 0px auto;
  width: 150px;
  position: relative;
  .centsign{
    font-size: 1rem;
    position: relative;
    bottom:0px;
    left:-5px;
  }
}

[class*="progress-"].circle  {
  margin: 0px auto;
  width: 100px;
  height: 100px;
  position: relative;
  .centsign{
    font-size: .4rem;
    position: relative;
    left:-5px;
  }
}



.centered {
  text-align: center;
}

.tabpager {
  position: relative;
  margin: 20px 0;
}

.enhance {
  color: @blue!important;
}

.inactive.card {
  .content, .black{
    color: #f0f0f0!important;
  }
}

// dashboard
.dash-widget, .d3-vis{
  background: @light;
  border:0;
  border-radius: 0;
  .header{
      background: @light;
      margin-bottom: 0;
      // padding: @xs * .5 @xs * .8;
      & div{
        display: inline-block;
      }
  }
  .title{
    width: 100%;
    p {
      color: @darker800;
      text-transform: capitalize;
      font-weight: 400;
      font-size: @xxlg;
      padding: 0 0 @lg;
    }
  }
  .controls{
    width: 15%;
    height: 10px;
    label{
      font-size: @sm;
    }
  }

  svg {
    min-height: 200px *1.8;
    width: 100%;
  }
  .axes{
    fill:none;
    stroke:@black + 111;
  }
  .ytext{
    fill: @black;
    transform: rotate(-90deg) translate(-@sm,@xxlg);
    font-size: @md;
  }
  .tick{
    font-family: 'Montserrat', monospace, sans-serif;
    opacity: .8;
    line{
      stroke:@black;
      opacity: .2;
    }
    text{
      fill:@black;
    }
  }
  .line {
    fill: none;
    clip-path: url(#clip);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2px;
  }
  .area {
    stroke: none;
    clip-path: url(#clip);
    opacity: .6;
  }
  .circle{
    opacity: .3;
  }
  .selection{
    fill:@blue;
    opacity: .2;
  }
  .zoom {
    cursor: crosshair;
    fill: none;
    pointer-events: all;
  }
}
