<p>Active Recently</p>
<div class="history-cards">
  {{#each model as |rules i|}}
    {{#if (lte i 7)}}
      {{arch-card archive=rules}}
    {{/if}}
  {{/each}}
</div>
<p>Active Earlier</p>
<div class="history-thumbs">
  <ul class="timeline">
  {{#each model as |rules j|}}
    {{#if (and (gt j 7) (lt j 15))}}
      {{arch-list archive=rules}}
    {{/if}}
  {{/each}}
  </ul>
  <div class="sec-load center">
    <button {{action 'showOlder'}} class="ui labeled mini icon button blue">
      <i class="history icon"></i>
      further back
    </button>
  </div>
</div>