<div class="four wide mobile column four wide tablet column eight wide computer column">
  <div class="ui three stackable cards">
    {{#each model.customers as |co|}}
      {{co-stub
        co=co
        showCustomer=(action 'showCustomer')
      }}
    {{/each}}
  </div>
</div>
<div class="twelve wide mobile column twelve wide tablet column eight wide computer column">
  {{co-edit
    coid=coid
    coname=coname
    add1=add1
    add2=add2
    add3=add3
    add4=add4
    coemail=coemail
    cophone=cophone
    cocvr=cocvr
    coean=coean
    accname=accname
    accemail=accemail
    accphone=accphone
    accrate=accrate
    fee=fee
    discount=discount
    act=act
    buttonico=buttonico
    networks=networks
    saveCustomer=(action 'saveCustomer')
    addNetwork=(action 'addNetwork')
    removeNetwork=(action 'removeNetwork')
    resetForm=(action 'resetForm')
    required=(action 'required')
  }}
</div>