<div class="bg"></div>
<div class="ui centered grid begin">
  <div class=" sixteen wide mobile six wide tablet three wide computer column">
    <form class="ui large form" {{action "authenticate" on="submit"}}>
      <div class="ui stacked blue padded segment">
        <div class="welcome">
          <span class="deic">
            DeIC
          </span>
          <span class="logo">
            DDoS Psys
          </span>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user blue icon"></i>
            {{input type='text' placeholder='Type in your username' value=username}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock blue icon"></i>
            {{input type='password' placeholder='and password' value=password}}
          </div>
        </div>
        <button class="ui fluid large blue submit labeled icon button" type="submit" value="Login">
          <i class="sign in icon"></i>
          Login
        </button>
      </div>

      {{#if loginFailed}}
        <div class="ui error message">{{errorMsg}}</div>
        <div class="ui bottom attached warning message">
          <i class="icon help"></i>
          Login failed! Please try again.
        </div>
      {{/if}}
    </form>

    {{!-- <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div> --}}
  </div>
</div>