<div class="bg"></div>
<div class="ui centered grid begin">
  <div class="column sixteen wide mobile six wide tablet three wide computer">
    <div class="row">
      <form class="ui large form" {{action "authenticate" on="submit"}}>
        <div class="ui stacked padded segment">
          <div class="welcome">
            <span class="logo">DDPs</span>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user black icon"></i>
              {{input type='text' placeholder='username' value=username}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock black icon"></i>
              {{input type='password' placeholder='password' value=password}}
            </div>
          </div>
          <button class="ui fluid large black submit animated fade button" type="submit" value="Login">
            <div class="hidden content"><i class="sign in icon"></i></div>
            <div class="visible content">Sign In</div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>