<div class="ui grid">
  <div class="four wide column">
    {{top-networks}}
  </div>
  <div class="four wide column">
    {{top-incoming}}
  </div>
  <div class="four wide column">
    {{traffic-spec-network}}
  </div>
</div>