<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{traffic-spec-network}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{top-networks}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{top-incoming}}
</div>
