<div class="ui grid">
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'pps-in'
      'packets/s'
      'qf-in-pps'
      'pps (in)'
      '#F48FB1'
      ''
      'area'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'top-10-pps-in'
      'packets/s'
      'qf-top-10-in-pps'
      'top 10 pps (in)'
      '#F8BBD0'
      ''
      'line'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'pps-out'
      'packets/s'
      'qf-out-pps'
      'pps (out)'
      '#F06292'
      ''
      'area'
    }}

  </div>
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'top-10-pps-out'
      'packets/s'
      'qf-top-10-out-pps'
      'top 10 pps (out)'
      '#F48FB1'
      ''
      'line'
    }}

  </div>
</div>
