<div class="ui grid">
  <div class="four wide column">
    {{out-pps}}
  </div>
  <div class="four wide column">
    {{in-pps}}
  </div>
  <div class="four wide column">
    {{top-in-pps}}
  </div>
  <div class="four wide column">
    {{top-out-pps}}
  </div>
</div>
