<div class="ui grid">
  <div class="ten wide column">
    <h4>Active recently</h4>
    <div class="history-cards">
      {{#each rules as |rule i|}}
        {{#if (lte i 7)}}
          {{rules-card
            rule=rule
            showRule=(action 'showRule')
          }}
        {{/if}}
      {{/each}}
    </div>
    <h4>Active earlier</h4>
    <div class="history-thumbs">
      <ul class="timeline">
      {{#each rules as |rule j|}}
        {{#if (and (gt j 7) (lte j 21))}}
          {{rules-list
            rule=rule
            showRule=(action 'showRule')
            fetchMore=(action 'fetchMore')
          }}
        {{/if}}
      {{/each}}
      </ul>
      <div class="sec-load center">
        <button class="ui mini animated fade button blue" {{action 'fetchMore' page}}>
          <div class="visible content">More</div>
          <div class="hidden content"><i class="arrow down icon"></i></div>
        </button>
      </div>
    </div>
  </div>
  <div class="six wide column">
    {{rule-edit
      rid=rid
      coid=coid
      rname=rname
      uid=uid
      way=way
      active=active
      expired=expired
      proto =proto
      action=action
      required=(action 'required')
    }}
  </div>
</div>

