<div class="ui grid">
  <div class="ten wide column">
    <p>Active recently</p>
      <div class="history-cards">
        {{#each rules as |r i|}}
          {{#if (lte i 5)}}
            {{rules-card rule=r}}
          {{/if}}
        {{/each}}
      </div>
      <p>Active earlier</p>
      <div class="history-thumbs">
        <ul class="timeline">
        {{#each rules as |r j|}}
          {{#if (and (gt j 5) (lte j 15))}}
            {{rules-list rule=r}}
          {{/if}}
        {{/each}}
        </ul>
        <div class="sec-load center">

          <button class="ui mini animated fade button blue">
            <div class="visible content">More</div>
            <div class="hidden content"><i class="arrow down icon"></i></div>
          </button>
        </div>
      </div>
  </div>
  <div class="six wide column">
    {{!-- {{in-bps}} --}}
  </div>
</div>

