<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{in-bps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{top-in-bps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{out-bps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{top-out-bps}}
</div>