<div class="ui grid">
  <div class="sixteen wide column">
    {{in-bps}}
  </div>
  <div class="sixteen wide column">
    {{top-in-bps}}
  </div>
  <div class="eight wide column">
    {{out-bps}}
  </div>
  <div class="eight wide column">
    {{top-out-bps}}
  </div>
</div>