<div class="sixteen wide column">
  <div class="ui link fluid stackable cards user">
    {{#each users as |u|}}
      {{user-card
        u=u
        showUser=(action 'showUser')
        deactivateUser=(action 'deactivateUser')
        activateUser=(action 'activateUser')
      }}
    {{/each}}
  </div>
</div>
  {{ rem-user }}
<div class="six wide column">
  {{user-edit
    userid=userid
    kind=kind
    customerid=customerid
    companyname=companyname
    netnames=netnames
    netids=netids
    name=name
    firstname=firstname
    username=username
    customers=customers
    networks=networks
    act=act
    buttonico=buttonico
    saveUser=(action 'saveUser')
    resetForm=(action 'resetForm')
  }}
</div>