<div class="ui grid">
  <div class="eleven wide column">
    <div class="ui link fluid stackable link raised cards user">
      {{#each users as |u|}}
        {{user-card
          u=u
          showUser=(action 'showUser')
          deactivateUser=(action 'deactivateUser')
          activateUser=(action 'activateUser')
        }}
      {{/each}}
    </div>
  </div>
  <div class="five wide column">
    <div class="right-slider">
      {{user-edit

        userid=userid
        firstname=firstname
        kind=kind
        customerid=customerid
        couuid=couuid
        companyname=companyname
        netids=netids
        conetlist=conetlist
        conetworks=conetworks
        usernetlist=usernetlist

        users=users
        customers=customers
        networks=networks
        act=act
        buttonico=buttonico
        saveUser=(action 'saveUser')
        resetForm=(action 'resetForm')
      }}
    </div>
  </div>
</div>
